@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --prymaryCl: #FFFFFF;
    --secondaryColor: #000000;
    --tertiaryColor: #cda434;
    --quaternaryColor: #7392B7;
    --bg-color: #EFEFEF;

    --color-info: #004085;
    --color-success: #155724;
    --color-warning: #856404;
    --color-danger: #721c24;

    --bg-info: #cce5ff;
    --bg-success: #d4edda;
    --bg-warning: #fff3cd;
    --bg-danger: #f8d7da;

    --border-info: #b8daff;
    --border-success: #c3e6cb;
    --border-warning: #ffeeba;
    --border-danger: #f5c6cb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}

body {
    background-color: var(--bg-color);
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex: 1; 
}

li{
    list-style: none;
}

/* Validación de errores */

.alert {
    position: fixed;
    top: 8px;
    right: -472px;
    display: flex;
    align-items: center;
    width: 470px;
    max-width: 100%;
    padding: 12px 20px;
    margin: 0 auto;
    border-radius: 12px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 1px #000;
    border: 2px solid;
    transition: .7s ease-in-out;
    z-index: 100;
}

.alert-info{
    color: var(--color-info);
    border-color: var(--border-info);
    background-color: var(--bg-success);
}

.alert-success{
    color: var(--color-success);
    border-color: var(--border-success);
    background-color: var(--bg-success);
}

.alert-error{
    color: var(--color-danger);
    border-color: var(--border-danger);
    background-color: var(--bg-danger);
}

.alert-warning{
    color: var(--color-warning);
    border-color: var(--border-warning);
    background-color: var(--bg-warning);
}

.alert__close {
    padding-right: 20px;
    border-right: 2px solid #dfa6ad;
    margin-right: 20px;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
}

.alert__close--success{
    border-color: #a2d9af;
}

.alert__close--warning{
    border-color: var(--color-warning);
}

.alert.active{
    right: 8px;
}

/* LOADER */

.loader{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
}

.spinner {
    position: relative;
    width: 16px;
    height: 16px;
}

.spinner div {
    width: 100%;
    height: 100%;
    background-color: #cda434;
    border-radius: 50%;
    animation: spinner 1.25s infinite backwards;
}

.spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: rgba(205, 164, 52, .9);
}

.spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(205, 164, 52, .8);
}

.spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(205, 164, 52, .7);
}

.spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(205, 164, 52, .6);
}

.spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(205, 164, 52, .5);
}

@keyframes spinner {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        transform: rotate(360deg) translateY(-200%);
    }
}

.btnShop {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 13px;
    gap: 9px;
    color: white;
    background: linear-gradient(to right, #cda434, #967f3f);
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212);
    font-weight: 600;
    z-index: 2;
}

.btnShop__icon {
    position: absolute;
    right: 7.5px;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: all .5s ease;
}

.btnShop__i{
    color: #cda434;
    font-size: 15px;
}

.btnShop:hover .btnShop__icon {
    width: calc(150px - (7.5px)*2);
}