@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --prymaryCl: #FFFFFF;
    --secondaryColor: #000000;
    --tertiaryColor: #cda434;
    --quaternaryColor: #7392B7;
    --bg-color: #EFEFEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}

body {
    background-color: var(--bg-color);
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
}

.spinner {
    position: relative;
    width: 16px;
    height: 16px;
}

.spinner div {
    width: 100%;
    height: 100%;
    background-color: #cda434;
    border-radius: 50%;
    animation: spinner 1.25s infinite backwards;
}

.spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: rgba(205, 164, 52, .9);
}

.spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(205, 164, 52, .8);
}

.spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(205, 164, 52, .7);
}

.spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(205, 164, 52, .6);
}

.spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(205, 164, 52, .5);
}

@keyframes spinner {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        transform: rotate(360deg) translateY(-200%);
    }
}