:root{
    --prymaryColor: #FFFFFF;
    --secondaryColor: #000000;
    --tertiaryColor: #cda434;
    --quaternaryColor: #7392B7;
    --bg-color: #EFEFEF;
    --bg-error: #f2dede;
    --color-error: #a64242;
}

body{
    background-color: #fff;
}

.main{
    padding-top: 40px;
}

.order{
    width: 600px;
    max-width: 99%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #cccccc8a;
    overflow: hidden;
    box-shadow: 0px 0px 3px #cccccc8a;
}

.order__top{
    background-color: #f7f7f7;
    padding: 20px;
}

.order__ttl{
    font-size: 18px;
    font-weight: bold;
    color: var(--tertiaryColor);
}

.order__date{
    font-size: 14px;
}

.order__mid{
    padding: 20px;
}

.order__sub{
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    color: var(--tertiaryColor);
}

.order__line{
    width: 100%;
    height: 1px;
    margin: 18px 0;
    background-color: #cccccc8a;
}

.order__line--hidde{
    display: none;
}

.order__element{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.order__element--total{
    padding-top: 10px;
}

.order__name{
    font-size: 16px;
}

.order__name--cancel{
    text-decoration: line-through;
}

.order__italyc{
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.order__weight{
    font-size: 18px;
    font-weight: bold;
}

.order__price{
    text-align: right;
    font-size: 16px;
}

.order__price--cancel{
    text-decoration: line-through;
}

.order__address{
    font-size: 16px;
}

.order__left{
    width: 58%;
}

.order__right{
    flex: 1;
}

.order__bot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f7f7f7;
}

.order__bot--cancel{
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 400px) {
    .order__element--group{
        flex-direction: column;
        gap: 0;
    }

    .order__left{
        width: 100%;
    }

    .order__line--hidde{
        display: block;
    }
}

/* ADICIONALES */

.main--pdd{
    gap: 0;
    width: 600px;
    max-width: 99%;
    padding-top: 0;
    margin: 0 auto;
}

.main__bot{
    box-shadow: none;
    padding-left: 0;
}

.ubi{
    margin-bottom: 0;
}