@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6C9BCF;
    --color-info: #004085;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-danger: #FF0060;

    --bg-info: #cce5ff;
    --bg-success: #d4edda;
    --bg-warning: #fff3cd;
    --bg-danger: #f8d7da;

    --border-info: #b8daff;
    --border-success: #c3e6cb;
    --border-warning: #ffeeba;
    --border-danger: #f5c6cb;

    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-odd-table: #f7f7f7;
    --color-even-table: #dfdddd94;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --color-odd-table: #272d31;
    --color-even-table: #32393d;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

/* Validación de errores */

.alert{
    position: fixed;
    top: -56px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 644px;
    max-width: 100%;
    padding: 12px 20px;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0px 1px #000;
    border: 2px solid;
    transition: .7s ease-in-out;
    z-index: 100;
}

.alert-info{
    color: var(--color-info);
    border-color: var(--border-info);
    background-color: var(--bg-success);
}

.alert-success{
    color: var(--color-success);
    border-color: var(--border-success);
    background-color: var(--bg-success);
}

.alert-error{
    color: var(--color-danger);
    border-color: var(--border-danger);
    background-color: var(--bg-danger);
}

.alert-warning{
    color: var(--color-warning);
    border-color: var(--border-warning);
    background-color: var(--bg-warning);
}

.alert.active{
    top: 6px;
}

.paginator {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-top: 30px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 2rem 3rem #848bc82e;;
    list-style-type: none;
}

.page__numbers,
.page__btn,
.page__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 6px;
    font-size: 1.4rem;
    cursor: pointer;
}

.page__numbers{
    margin: 4px 2px;
    font-size: 1rem;
}

.page__btn{
    color: var(--color-danger);
}

.page__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--greyLight);
    cursor: initial;
}

.page__numbers {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
}

.page__numbers:hover {
    color: var(--primary);
}

.page__numbers.active {
    color: #ffffff;
    background: var(--color-danger);
    margin: 4px;
    font-weight: 600;
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a .bi{
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active .bi{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover .bi{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

main{
    margin-top: 1.4rem;
}

main .analyse{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
}

main .analyse--three{
    grid-template-columns: repeat(3, 1fr);  
}

main .analyse--two{
    grid-template-columns: repeat(2, 1fr);
}

main .analyse > .element{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.element--hover,
.element--click{
    cursor: pointer;
}

main .analyse > .element:hover{
    box-shadow: none;
}

main .analyse > .element .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element .status .bi{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element:nth-child(1) .status .bi{
    background: #e4cdfe;
    color: #a42fd3;
}

.element--hover:nth-child(1):hover{
    background-color: #e4cdfe;
    color: #a42fd3;
}

.element:nth-child(2) .status .bi{
    background: #ffc5bd;
    color: #ff7360;
}

.element--hover:nth-child(2):hover{
    background-color: #ffc5bd;
    color: #ff7360;
}

.element:nth-child(3) .status .bi{
    background: #FFF2C6;
    color: #FBC02D;
}

.element--hover:nth-child(3):hover{
    background-color: #FFF2C6;
    color: #FBC02D;
}

.element:nth-child(4) .status .bi{
    background: #CFE8FF;
    color: #1976D2;
}

.element--hover:nth-child(4):hover{
    background-color: #CFE8FF;
    color: #1976D2;
}

.element:nth-child(5) .status .bi{
    background: #BBF7D0;
    color: #388E3C;
}

.element--hover:nth-child(5):hover{
    background-color: #BBF7D0;
    color: #388E3C;
}

.element:nth-child(6) .status .bi{
    background: #FECDD3;
    color: #D32F2F;
}

.element--hover:nth-child(6):hover{
    background-color: #FECDD3;
    color: #D32F2F;
}

main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analyse h2{
    font-weight: bolder;
    font-size: 1.5rem;
}

main .analyse .info{
    text-align: right;
}

/* INICIO DELETE BUTTON */

.delete{
    position: absolute;
    top: 0;
    right: 40px;
}

.delete__btn {
    width: 130px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
}

.delete__btn,
.delete__span {
    transition: 200ms;
}

.delete__txt {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.delete__icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(90px);
    height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete__svg {
    width: 12px;
    fill: #eee;
}

.delete__btn:hover {
    background: #ff3636;
}

.delete__btn:hover .delete__txt {
    color: transparent;
}

.delete__btn:hover .delete__icon {
    width: 150px;
    border-left: none;
    transform: translateX(-10px);
}

.delete__btn:focus {
    outline: none;
}

.delete__btn:active .delete__svg {
    transform: scale(0.8);
}

/* FIN DELETE BUTTON */

main .recent-orders{
    position: relative;
    margin-top: 4rem;
}

main .recent-orders h2{
    margin-bottom: 0.8rem;
}

main .recent-orders--tbody h2{
    margin-bottom: 0;
}

main .recent-orders table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main .recent-orders table:hover{
    box-shadow: none;
}

.recent-orders__pay{
    background-color: #00890047;
}

main table tbody td.title {
    font-weight: bold;
    color: var(--color-dark);
}

td.hidde{
    display: none !important;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody td.recent-orders-td{
    height: auto;
}

main table tbody td.cancel{
    font-weight: 600;
    color: var(--color-danger);
    cursor: no-drop;
}

main table tbody td.cancel--border{
    border: 2px solid var(--color-danger) !important;
}

main table tbody td.process{
    font-weight: 600;
    color: var(--color-warning);
    cursor: zoom-in;
}

main table tbody td.process--border{
    border: 2px solid var(--color-warning) !important;
}

main table tbody td.way{
    font-weight: 600;
    color: var(--color-primary);
    cursor: wait;
}

main table tbody td.way--border{
    border: 2px solid var(--color-primary) !important;
}

main table tbody td.delivered{
    font-weight: 600;
    color: var(--color-success);
    cursor: cell;
}

main table tbody td.delivered--border{
    border: 2px solid var(--color-success) !important;
}

main table tbody tr:last-child td{
    border: none;
}

main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.order-cancel{
    text-decoration: line-through;
}

.recent-orders-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 4px 10px;
}

.recent-orders-btn .bi{
    font-size: 18px;
    color: #1B9C85;
}

.right-section{
    margin-top: 1.4rem;
}

.right-section .nav{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right-section .nav .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right-section .nav .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo .bi{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 36px;
}

.right-section .user-profile{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .user-profile:hover{
    box-shadow: none;
}

.right-section .user-profile img{
    width: 8rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.right-section .user-profile h2{
    margin-bottom: 0.2rem;
}

.right-section .reminders{
    margin-top: 2rem;
}

.right-section .reminders .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.right-section .reminders .header span{
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
}

.right-section .reminders .notification{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .reminders .notification:hover{
    box-shadow: none;
}

.right-section .reminders .notification .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.right-section .reminders .notification .icon{
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.right-section .reminders .notification.deactive .icon{
    background-color: var(--color-danger);
}

.right-section .reminders .add-reminder{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-section .reminders .add-reminder:hover{
    background-color: var(--color-primary);
    color: white;
}

.right-section .reminders .add-reminder div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.recent--form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* width: 500px; */
    width: 100%;
    height: auto;
    padding: 40px;
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}

.form--gap{
    gap: 20px;
}

.form__content{
    position: relative;
    width: 100%;
}

.form__content.hidde{
    display: none;
}

.form__content--area{
    display: flex;
    gap: 20px;
}

.form__content .bi,
.form__line,
.form__name{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0%, -50%);
    color: var(--color-dark);
}

.form__line{
    left: 32px;
}

.form__input,
.form__btn{
    position: relative;
    width: 100%;
    height: 45px;
    padding: 0 50px;
    color: var(--color-dark);
    border-radius: 12px;
    background-color: transparent;
    box-shadow: 2px 3px 10px var(--color-light);
    z-index: 2;
}

.form__select{
    padding-left: 20px;
}

.form__btn{
    margin-top: 20px;
    font-weight: 600;
    background-color: var(--color-danger);
    color: #fff;
    cursor: pointer;
}

.form__input:valid,
.form__input:focus{
    background-color: var(--color-white);
}

.form__input:valid ~ .bi,
.form__input:focus ~ .bi,
.form__input:valid ~ .form__line,
.form__input:focus ~ .form__line{
    color: var(--color-danger);
}

.form__name{
    left: 20px;
    transition: .3s ease-in-out;
    z-index: 1;
    padding: 0 6px;
    background-color: var(--color-white);
}

.form__input:valid ~ .form__name,
.form__input:focus ~ .form__name{
    top: 0;
    left: 10px;
    color: var(--color-danger);
    z-index: 3;
}

/* INICIO: FORMULARIO SUBIDA DE IMAGENES */

.form__files {
    height: 300px;
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
}

.form__header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form__header svg {
    height: 100px;
    stroke: var(--color-dark);
}

.form__header p {
    text-align: center;
    color: var(--color-dark);
}

.form__footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

.form__footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.form__footer p {
    flex: 1;
    text-align: center;
}

#file {
    display: none;
}

/* FIN: FORMULARIO SUBIDA DE IMAGENES */

.form__content-pic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.form__picture{
    width: 100%;
    height: 100%;
}

.form__delete-pic{
    border: none;
    background-color: transparent;
}

.form__delete-pic .bi{
    font-size: 20px;
    color: #FF0060;
    cursor: pointer;
}

/* INICIO: MODAL IMAGEN */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #00000091;
    z-index: 1000;
}

.modal--active{
    display: flex;
}

.modal .bi{
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    border-radius: 50%;
    font-size: 34px;
    font-weight: bolder;
    color: #fff;
    background-color: var(--color-danger);
    cursor: pointer;
}

.modal__picture{
    display: block;
    width: 80%;
    height: 80vh;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.modal__img{
    width: auto;
    height: 100%;
    margin: auto;
}

/* FIN: MODAL IMAGEN */

/* INICIO RECENT-ORDERS--TBODY */

.recent-orders--tbody tbody:nth-child(even) {
    background: var(--color-even-table);
}

.recent-orders--tbody tbody:nth-child(odd){
    background-color: var(--color-odd-table);
}

.recent-orders--tbody tbody{
    padding-top: 15px;
}

/* FIN RECENT-ORDERS--TBODY */

.element-tr{
    position: relative;
}

.change-state{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 0;
    background-color: var(--color-white);
    z-index: 10;
    transition: .3s ease-in-out;
}

.change-state.active{
    display: flex;
    height: 226px;
}

/*  */

.disk {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    position: relative;
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.card1 .bi {
    position: absolute;
    top: 34px;
    right: 24px;
    font-size: 26px;
    color: var(--color-warning);
}

.card2 {
    position: relative;
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.card2 .bi {
    position: absolute;
    top: 36px;
    left: 24px;
    font-size: 26px;
    color: #03A9F4;
}

.card3 {
    position: relative;
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.card3 .bi {
    position: absolute;
    bottom: 36px;
    right: 24px;
    font-size: 26px;
    color: var(--color-danger);
}

.card4 {
    position: relative;
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.card4 .bi {
    position: absolute;
    bottom: 36px;
    left: 24px;
    font-size: 26px;
    color: var(--color-success);
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--color-warning);
}

.card1:hover .bi {
    color: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--color-primary);
}

.card2:hover .bi {
    color: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--color-danger);
}

.card3:hover .bi {
    color: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--color-success);
}

.card4:hover .bi {
    color: white;
}

@media screen and (min-width: 1200px) {
    main .recent-orders--tbody table tbody td{
        border: none;
    }

    .total-pay{
        font-weight: bolder;
        color: var(--color-dark);
        border: 2px solid var(--color-success) !important;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .analyse{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    .total-pay{
        font-weight: bolder;
        color: var(--color-dark);
        border: 2px solid var(--color-success) !important;
    }
}

@media screen and (max-width: 880px) {
    .form{
        padding: 40px 16px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
        z-index: 6;
    }

    aside .sidebar{
        height: 90vh;
    }

    @keyframes showMenu {
        to{
            left: 0;
        } 
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user{
        flex-basis: 35%;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }

    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .nav{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
        z-index: 5;
    }

    .right-section .nav .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }

    .right-section .nav button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav button span{
        font-size: 2rem;
    }

}

@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    main table tbody td

    main .recent-orders table{
        position: relative;
        max-height: 700px !important;
        padding-top: 0;
        overflow-y: auto;
    }

    thead{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 6px;
        background-color: var(--color-white);
    }

    thead tr {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    tr:nth-child(even) {
        background: var(--color-even-table);
    }

    tr:nth-child(even) td{
        border-bottom: 1px solid var(--color-white) !important;
    }

    /* tbody */

    .recent-orders--tbody tr:nth-child(even) {
        background: unset;
    }

    /* tbody */

    main table tbody tr:last-child td {
        border-bottom: 1px solid var(--color-light);
    }

    main .recent-orders--tbody table tbody tr:last-child td {
        border-bottom: 1px solid var(--color-white);
    }

    td {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}