:root{
    --prymaryColor: #FFFFFF;
    --secondaryColor: #000000;
    --tertiaryColor: #cda434;
    --quaternaryColor: #7392B7;
    --bg-color: #EFEFEF;
}

/* |--- -- ------ -- ---| */
/* |--- -- HEADER -- ---| */
/* |--- -- ------ -- ---| */

.header{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}

.header__logo{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #000;
}

.header__logoSVG{
    width: 80px;
    padding: 15px 0;
}

.header__nav{
    padding-top: 10px;
}

.header__ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: bolder;
    font-size: 14px;
    background: radial-gradient(circle at top right, gray, black, gray);
    height: 35px;
    border-radius: 20px;
}    

.header__li{
    display: flex;
    align-items: center;
    list-style: none;
}

.header__a{
    position: relative;
    color: #fff;
    text-decoration: none;
}

.header_amountCart{
    position: absolute;
    top: -1px;
    left: 0;
    width: 25px;
    text-align: center;
    font-size: 12px;
}

.header__cart{
    padding-top: 4px;
    width: 22px;
}

.carrito,
.perfil{
    display: none;
    position: absolute;
    top: 30px;
    right: -12px;
    width: 300px;
    height: auto;
    background-color: #fff;
    box-shadow: 3px 1px 10px #0000002c;
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
}

.perfil{
    right: -48px;
    width: 170px;
    padding: 10px 0 5px;
}

.perfil__content{
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
}

.perfil__op{
    display: block;
    width: 100%;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
}

.perfil__op:hover{
    background-color: #efefef;
}

.perfil__hr{
    margin: 2px 0 6px;
}

.carrito__wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 210px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.header__a--father:hover .carrito,
.carrito:hover,
.header__a--father:hover .perfil,
.perfil:hover{
    display: block;
}

.carrito::before,
.perfil::before{
    content: "";
    position: absolute;
    top: -7px;
    right: 10px;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.perfil::before{
    right: 74px;
}

.carrito::after,
.perfil::after{
    content: "";
    background-color: transparent;
    position: absolute;
    top: -15px;
    right: 0;
    width: 100%;
    height: 20px;
}

.carrito__content{
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 10px;
}

.carrito__pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
    background-image: url('/public/img/products/bg.webp');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.carrito__img{
    width: 100%;
}

.carrito__name{
    color: #000;
    font-weight: 500;
    font-style: normal;
    font-size: .85rem;
    padding-left: 10px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carrito__name--empty{
    width: auto;
    white-space: wrap;
    text-overflow: unset;
    text-align: center;
}

.carrito__precio{
    color: #cda434;
    font-size: .85rem;
    font-weight: bolder;
    padding-left: 10px;
}
