:root{
    --prymaryColor: #FFFFFF;
    --secondaryColor: #000000;
    --tertiaryColor: #cda434;
    --quaternaryColor: #7392B7;
    --bg-color: #EFEFEF;
}

/* |--- -- ---- -- ---| */
/* |--- -- MAIN -- ---| */
/* |--- -- ---- -- ---| */

.main{
    padding-top: 60px;
}

/* |--- -- ----------- -- ---| */
/* |--- -- MAIN SLIDER -- ---| */
/* |--- -- ----------- -- ---| */

.slider {
    position: relative;
    display: flex;
    width: 600px;
    max-width: 100%;
    height: 380px;
    margin: 40px auto 0;
    border-radius: 10px;
    overflow: hidden;
}

.slider__item {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .6s;
}

.slider__control{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 42%;
    width: 34px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 22px;
    color: #303030;
    background: #ffffffaf;
    transition: .3s ease;
    cursor: pointer;
}

.slider__control:hover {
    color: #000;
    background: #fff;
}

.slider__control--prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

.slider__control--next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.slider__indicators {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
}

.slider__indicator {
    cursor: pointer;
    margin: 0 4px;
    width: 8px;
    height: 8px;
    border-radius: 3px;
    transition: .2s;
}

.slider__content {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
}

.slider__text {
    position: absolute;
    bottom: 36px;
    color: #fff;
    font-size: 36px;
    font-family: 'Kanit';
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .4s;
}

.line{
    width: 70%;
    margin: 120px auto;
    height: 2px;
    background-color: #00000036;
    border-radius: 12px;
}

.services{
    width: 1100px;
    max-width: 90%;
    margin: 0 auto;
}

.services--txt{
    margin-top: 55px;
}

.offer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 900px;
    margin-top: 0;
}

.services__img--coupon{
    width: 360px;
    max-width: 100%;
    border-radius: 12px;
}

.services__wrapper-coupon{
    width: 360px;
    max-width: 100%;
}

.services__ttl{
    font-size: 28px;
    color: var(--tertiaryColor);
}

.services__ttl--center{
    width: 580px;
    max-width: 100%;
    margin: 0 auto;
    color: #000;
    font-size: 24px;
    text-align: center;
}

.explorer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.explorer__btn {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.explorer__btn::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.explorer__btn .explorer__text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.explorer__btn .explorer__top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.explorer__btn .explorer__bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.explorer__btn .explorer__bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.explorer__btn:hover {
    color: white;
    background: black;
}

.explorer__btn:hover::before {
    width: 0.9375rem;
    background: white;
}

.explorer__btn:hover .explorer__text {
    color: white;
    padding-left: 1.5em;
}

.explorer__btn:hover .explorer__top-key {
    left: -2px;
    width: 0px;
}

.explorer__btn:hover .explorer__bottom-key-1,
.explorer__btn:hover .explorer__bottom-key-2 {
    right: 0;
    width: 0;
}

.services__wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 30px;
    margin-top: 30px;
}

.services__content{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 272px;
    height: max-content;
}

.services__icon{
    font-size: 32px;
}

.services__right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services__content-txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.services__sub{
    font-size: 20px;
    color: var(--tertiaryColor);
}

.services__txt{
    font-size: 18px;
}

.services__li{
    margin-left: 16px;
    list-style: decimal;
}

.services__btn{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: var(--tertiaryColor);
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .offer{
        flex-direction: column;
        gap: 40px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 601px) {
    .slider {
        width: 400px;
        height: 250px;
    }

    .slider__text {
        font-size: 26px;
    }
}

@media screen and (max-width: 400px) {
    .slider {
        width: 350px;
        height: 200px;
    }
}
