@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --prymaryColor: #FFFFFF;
    --secondaryColor: #000000;
    --tertiaryColor: #cda434;
    --quaternaryColor: #7392B7;
    --bg-color: #EFEFEF;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.wrapper{
    justify-content: center;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.formContainer{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 0 40px;
    height: 100%;
}

.form__title{
    margin-bottom: 20px;
    font-size: 30px;
    text-shadow: 1px 1px 2px #00000047;
}

.form__content-wrapper{
    width: 100%;
}

.form__content-input{
    position: relative;
}

.form__input{
    background-color: #4b4a4a21;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form__input.error{
    border: 1px solid #d10000;
}

.form__input.valid{
    border: 1px solid #00b52e;
}

.form__error{
    display: none;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 900;
    color: #d10000;
}

.form__error.active{
    display: block;
}

.form__icon-eye{
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    color: #818181;
    cursor: pointer;
}

.form__icon-eye.active{
    display: block;
}

.form__btn{
    padding: 10px 45px;
    margin-top: 40px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid transparent;
    background-color: var(--secondaryColor);
    cursor: pointer;
}

.form__forget{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.toggle__msj{
    margin: 20px 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    font-weight: 500;
    text-shadow: 1px 1px 2px #00000047;
}

.form__btn.form__btn--hidden{
    font-weight: bolder;
    color: var(--tertiaryColor);
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.container.container--active .sign-in{
    transform: translateX(100%);
}

.container.container--active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggleContainer{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.container--active .toggleContainer{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #000;
    height: 100%;
    background: linear-gradient(to right, #00000061, #000000);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.container--active .toggle{
    transform: translateX(50%);
}

.toggle__panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle__panel--left{
    transform: translateX(-200%);
}

.container.container--active .toggle__panel--left{
    transform: translateX(0);
}

.toggle__panel--right{
    right: 0;
    transform: translateX(0);
}

.container.container--active .toggle__panel--right{
    transform: translateX(200%);
}

@media screen and (max-width: 784px) {
    .container{
        width: 468px;
        min-height: 515px;
    }

    .formContainer{
        height: 83%;
    }

    .sign-up{
        transform: translateX(-100%);
        width: 100%;
        z-index: 1;
    }
    
    .sign-in{
        transform: translateX(0);
        width: 100%;
        z-index: 2;
    }

    .container.container--active .toggleContainer{
        transform: translateX(0%);
        border-radius: 0;
    }

    .container.container--active .sign-up {
        transform: translateX(0);
    }

    .container.container--active .sign-in {
        transform: translateX(100%);
        opacity: 0;
    }

    .toggleContainer{
        width: 100%;
        border-radius: 0;
        z-index: 1;
        left: 0;
    }

    .toggle__panel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 22px 30px;
    }
}

@media screen and (max-width: 784px) {
    .container{
        width: 328px;
    }

    .form{
        padding: 0 20px;
    }

    .form__title{
        font-size: 22px;
    }
}

@media screen and (max-width: 337px) {
    .container{
        width: 285px;
    }

    .form{
        padding: 0 10px;
    }
}